### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [ ]:
x = 25
y = 30 
result = " x is the maximum " if x > y else " y is the maximum "
print(result)

### 2) Write a program to find the maximum between three numbers.

In [ ]:
num1 = 90
num2 = 100 
num3 = 70

if num1 > num2: 
  if num1 > num3: 
    print("the first number is the maximum")
elif num2 > num3: 
  print("the second number is the maximum")
else: 
  print("the third number is the maximum")

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [ ]:
num = -5
result = "positive" if num > 0 else " negative"
print(result)

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [ ]:
num = 8
result = "even number" if num % 2 == 0 else " odd number"
print(result)

###5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [ ]:
year = input("please enter a year to check weather its a leap year or not : ")

checkIfLeapYear = "leap year" if int(year) % 4 == 0 else "not a leap year"

print(checkIfLeapYear)

###6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [ ]:
weekdays = ["Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

index_from_user = input("enter and index from 0 to 6 : ")

access_weekday_by_index = weekdays[int(index_from_user)]

print(f"the day o index {index_from_user} is {access_weekday_by_index}")

###7) Write a  program to print all alphabets from a to z using while loop

In [ ]:
i = "A"
 
print("The Alphabets from A to Z are:")

while ord(i) <= ord('Z'):
    print(i),
    i = chr(ord(i) + 1)

###8)Write a program to store numbers in the List and print its reverse

In [ ]:
print("please enter numbers to show it reversed ")
numbers = input("enter the numbers : ")

numbers_to_list = list(numbers)
numbers_to_list.reverse()

for x in numbers_to_list:
  print(x)

### 9) Write a program to print the multiplcation table of any number

In [ ]:
# multiplication table from 1 to 12

x = int(input("Enter the number for the multiplication table: "))

for i in range(1, 13):
    result = x * i
    print(result)

###10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [ ]:
end = 100
start = 1
while start <= end: 
  if start % 2 == 0:
    even_number = "is even number"
    print(start, even_number)

  start += 1

1. Write a Python program to add an item to a tuple.

In [ ]:
tuple = (1, 2, 3, 5, 6, 7)
convert_to_list = list(tuple)
convert_to_list.insert(3, 4)
print(convert_to_list)

2. Write a Python program to sum all the items in a list.

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sum = 0

for i in range(len(list)):
  sum = list[i] + sum
  
print(sum)

3. Write a Python program to multiply all the items in a list.

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
muitiply = 1

for i in range(len(list)):
  muitiply = list[i] * muitiply
  
print(muitiply)

4. Write a Python program to get the smallest number from a list.

In [ ]:
list = [3 ,4, 6, 5, 7, 10, 22, 2, 13]
smallest_number = list[0]

for i in range(len(list)):
  
  if list[i] < smallest_number:
    smallest_number = list[i]
  
  i += 1

print(f"smallest number is : {smallest_number}")

5. Write a Python program to get the largest number from a list.

In [ ]:
list = [3 ,4, 6, 5, 7, 10, 22, 2, 13]
largest_number = list[0]

for i in range(len(list)):
  
  if list[i] > largest_number:
    largest_number = list[i]
  
  i += 1

print(f"smallest number is : {largest_number}")

6. Write a Python program to count the number of strings from a given list of strings.

In [ ]:
list = ["amit", "learning", "AI", "diploma"]

count_of_strings = len(list)
print(count_of_strings)

7. Write a Python program to clone or copy a list

In [ ]:
list_one = ["This", "is", "the", "original", "list"]

list_two = []

for i in range(len(list_one)):
  list_two.insert(i, list_one[i]) 

print(list_two)

8. Write a Python program to remove item(s) from a given set

In [ ]:
set_one = {1, 2 ,3, 4}

convert_To_List = list(set_one)
convert_To_List.remove(1)

convert_To_Set = set(convert_To_List)

print(convert_To_Set)

9. Write a Python program to check if a set is a subset of another set

In [ ]:
set_one = {1, 2 ,3, 4}

set_Two = {5, 6 ,3, 7}

convert_set_one_to_list = list(set_one)

convert_set_two_to_list = list(set_Two)

for i in range(len(convert_set_one_to_list)):
  for j in  range(len(convert_set_two_to_list)):
    if convert_set_one_to_list[i] == convert_set_two_to_list[j]:
      print(f"item {convert_set_one_to_list[i]} is found in both sets ")

10. Write a Python program to remove all elements from a given set

In [ ]:
set_one = {1, 2 ,3, 4}

convert_To_List = list(set_one)

del convert_To_List

print(convert_To_List)

11. Write a Python program to find the maximum and minimum values in a set

In [ ]:
set_one = {10, 25 ,37, 47, 96}

convert_set_one_to_list = list(set_one)

maximum = 0
minimum = 55

for i in range(len(convert_set_one_to_list)):
  if maximum < convert_set_one_to_list[i]:
    maximum = convert_set_one_to_list[i]
  
for i in range(len(convert_set_one_to_list)):
  if minimum > convert_set_one_to_list[i]:
    minimum = convert_set_one_to_list[i]

print(maximum)
print(minimum)

12. Write a Python program to find the index of an item in a tuple

In [ ]:
tuple = (1, 2, 3, 4, 5, 6)

print(tuple)

x = input("enter the the number to show the index")

convert_to_list =  list(tuple)
index_of_item = convert_to_list.index(int(x))

print(f"the index of {x} is {index_of_item}")

13. Write a Python program to convert a tuple to a dictionary

In [ ]:
Tuple1 = ((1, "num1"), (2, "num2"), (3, "num3"))

conver_to_Dictionary = dict((x, y) for x, y in Tuple1)
print("The result dictionary:", conver_to_Dictionary)

14. Write a Python program to unzip a list of tuples into individual lists

In [ ]:
l = [(1, 2), (3, 4), (8, 9)]

result = list(zip(*l))

print(result)

15. Write a Python program to reverse a tuple

In [ ]:
# not 100% right

tuple_one = (1, 2, 3, 4, 5, 6)

print(tuple_one)

convert_to_list =  list(tuple_one)
convert_to_list.reverse()


print(convert_to_list)

16. Write a Python program to convert a list of tuples into a dictionary

In [ ]:

tuple1 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dict1 = {}

for a, b in tuple1:
    dict1.setdefault(a, []).append(b)

print(dict1)

17. Write a Python program to replace the last value of tuples in a list

In [ ]:
tuple1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1] + (100,) for t in tuple1])

18. Write a Python program to sort a tuple by its float element

In [ ]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

sorted_price = sorted(price, key=lambda x: float(x[1]), reverse=True)

print(sorted_price)